{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": true,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all"
}